* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";

.outer {
  max-width: 620px;
  font-family: @df-sans;
  font-size: 18px;
}

.title {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  padding-bottom: 5px;
}

.chatter {
  font-size: 15px;
  padding-bottom: 15px;
  font-family: @df-serif;
}

.quiz-container {
  background: @df-off-white;
  padding: 40px;
  max-width: 75%;
  margin: auto;
}

.index {
  color: @df-middle-gray;
  font-size: 16px;
}

.question {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
}

.answers {
  text-align: center;
}

.answer {
  margin-top: 10px;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px 20px 5px 20px;
  color: @df-charcoal;
  font-size: 14px;
  font-weight: bold;
  background: @df-border-gray;
  cursor: pointer;
  border-radius: 2px;

  &:hover {
    color: @df-off-white;
  }
}

.yes:hover {
  background: #DE5636;
}
.no:hover {
  background: #589040;
}

.hidden {
  display: none;
}

.score {
  font-size: 20px;
}

.icon {
  vertical-align: top;
  font-size: 22px;
  padding-right: 5px;
}

.happy {
  color: #2a9964;
}
.meh {
  color: #e3a51d;
}
.sad {  
  color: #da2128;
}

.info {
  font-weight: normal;
  padding-top: 10px;
  font-size: 16px;
}

.dot-box {
  margin-top: 20px;
  margin-bottom: 60px;
}

.dot {
  height: 20px;
  width: 20px;
  position: absolute;
  transition: left .3s ease-in-out;
  font-size: 36px;
}

.source {
  padding-top: 10px;
  font-style: italic;
}
.source, .credit {
  font-size: 11.5px;
  color: @df-middle-gray;
}
