* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";

.outer {
  max-width: 630px;
  font-family: @df-sans;
  font-size: 18px;
  border-top: 4px solid @df-border-gray;
  padding: 20px 0;
}

.title {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  padding-bottom: 5px;

  @media @mobile {
    font-size: 24px;
  }
}

.chatter {
  font-size: 15px;
  padding-bottom: 20px;
  font-family: @df-serif;
}

.quiz-container {
  background: @df-off-white;
  padding: 40px;
  max-width: 75%;
  margin: auto;

  @media @mobile {
    max-width: 100%;
    padding: 30px;
  }
}

.index {
  color: @df-middle-gray;
  font-size: 16px;
}

.question {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;

  @media @mobile {
    font-size: 18px;
  }
}

.answers {
  text-align: center;
}

.answer {
  margin-top: 10px;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px 20px 5px 20px;
  color: @df-charcoal;
  font-size: 14px;
  font-weight: bold;
  background: @df-border-gray;
  cursor: pointer;
  border-radius: 2px;

  &:hover {
    color: @df-off-white;
    background: #DE5636;
  }
}

.hidden {
  display: none;
}

.score {
  font-size: 20px;
}

.icon {
  vertical-align: top;
  width: 35px;

  img {
    width: 35px;
  }
}

.info {
  font-weight: normal;
  font-size: 15px;

  td {
    padding-top: 8px;
  }
}

.text {
  padding-left: 7px;
}

.dot-box {
  height: 45px;
  margin-top: 30px;
  position: relative;
  border-bottom: 4px solid @df-border-gray;
  padding-bottom: 5px;
}

.dot {
  position: absolute;
  transition: left .7s ease-in-out;
  bottom: 0;
  left: 0;

  img {
    height: 45px;
    vertical-align: bottom;
    display: none;
  }

  .ing {
    display: block;
  }
}

.source {
  padding-top: 25px;
  font-style: italic;
}
.source, .credit {
  font-size: 11.5px;
  color: @df-middle-gray;
}
