<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <responsive-child class="outer">
      <div class="title">Do you have sidewalk rage?</div>
      <div class="chatter">If you secretly seethe while trying to dodge clueless pedestrians, there’s a good chance you have “sidewalk rage.” Take University of Hawaii psychology professor Leon James’ quiz to see how bad you’ve got it.</div>

      <div class="quiz-container">
        <div class="index"></div>
        <div class="question"></div>
        <div class="answers">
          <div class="answer yes">yes</div>
          <div class="answer no">no</div>
        </div>
      </div>

      <div class="dot-box">
        <div class="dot">
          <img class="walk" src="./assets/pedRage.gif"><img>
          <img class="stand ing" src="./assets/pedStand.png"><img>
        </div>
      </div>

      <div class="source">
        Source: Dr. Leon James, University of Hawaii at Manoa
      </div>
      <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>
    </responsive-child>

    <script>
      var quizData = <%= JSON.stringify(csv.rage_questions) %>
    </script>
    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
